@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.description {
  width: 100%;

  // @include desktop {  
  //     padding: 0px;
  // }

  // .description-container {
  //     margin-left: 8px;
  // }

  &__title {
    color: black; // change to global
  }

  &__top {
    border-bottom: solid 2px #E1E1E1;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

  }

  &__sub-title {
    display: flex;
    flex-direction: row;

    @include tablet {
        justify-content: flex-start;
    }

  }

  &__name {
    @include h4-text-style;
  }

  &__timestamp {
    color: #E1E1E1;
    font-weight: 100;   
    margin-left: 8px;
    @include h4-text-style;

    @include tablet {
        margin-left: 16px;
    }

  }

  &__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include h5-text-style;
    margin: 24px 0px;

    .views {
      margin: 0 16px;
    }

    .likes {
      margin: 0 16px;
    }
  }

  &__paragraph {
    margin: 16px 0px;
    @include h4-text-style;

    @include tablet {
        width: 75%;
    }
  }
}
