@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.next-video {
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 25%;
    margin-left: 32px;
  
  }

  &__title {
    margin: 8px 0px;
    color: $border-color;
    @include h5-text-style;
    
    @include tablet {
        margin: 32px 0px;
        @include tablet-h5-text;
    }
  }

  &__list {
    width: 100%;
    list-style-type: none;
    padding: 0;

    .list-item {
      padding: 5px;
     
      .item-anchor {
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
      }
    
      .item-image {
        width: 120px;
        height: 70px;
        opacity: 0.9;
        
        &:hover {
          opacity: 1;
        }
      }
    
      .item-text {
        @include flex-column;
        justify-content: center;
        align-items: center;
        margin-left: 16px;

        .item-title {
          font-weight: 700;
          @include h5-text-style;
        }

        .item-creator {
          font-weight: 300;
          @include h5-text-style;
        }
      }
    }  
  }
}
