@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.other-games {
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 33%;
    margin-left: 32px;
  
  }

  &__title {
    margin: 8px 0px;
    color: white;
    text-transform: uppercase;
    @include h4-text-style;
    
    @include tablet {
        margin: 32px 0px;
        @include tablet-h4-text;
    }
  }

  &__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  &__item-anchor {
    @include flex-column;
    color: $global-color;
    justify-content: flex-start;
    text-decoration: none;
    width: fit-content;
    margin: 0;
  }

  &__item-image {
    width: 120px;
    height: 70px;
    opacity: 0.9;
    border-radius: 2.5px;
    
    &:hover {
      opacity: 1;
    }
  }

  &__item-text {
    color: white; 
    @include desktop {
    }
  }

  &__item-title {
    font-weight: 900;
    @include h5-text-style;
  }
}
