@import '../../partials/colors';

footer {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 0.75rem;
  background: $global-color;
  color: white;
}

.footer-anchor {
  color: white;
}