@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.comment-section {
    width: 100%;
    @include flex-column;

    &__title {
        font-family: $global-font__bold;
        color: white;
        margin: 32px 0px;
        @include h2-text-style;
        
        @include tablet {
            @include tablet-h2-text;
        }

        @include desktop {
            margin-top: 48px;
        }
    }

    &__content {
        width: 100%;
        color: white;

        .form-container {
            @include flex-row;
            width: 100%;
            padding: 16px 0px;
            border-bottom: solid 2px $border-color;

            @include tablet {
                align-items: center;
            }

            .form-image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
            }

            .add-comment {
                color: #E1E1E1;
                @include flex-column;
                align-items: center;
                @include h5-text-style;
                width: 100%;
                margin-left: 16px; 
                font-weight: 100;  
                
                @include tablet {
                    flex-direction: row;
                    @include tablet-h5-text;
                }
                
                @include desktop {
                    margin-left: 24px;
                }

                .form--input {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .label-text {
                        text-transform: uppercase;
                        font-size: 8px;
                        font-weight: 700;
                    }

                    .textarea-content {
                        width: 97.5%;
                        height: 50px;
                        padding: 5px;
                        font-family: $global-font;
                        border: 1px solid $border-color;
                        border-radius: 5px;

                        &:hover, &:focus {
                            border-color: $primary-CTA-color;
                        }
                        
                        @include tablet {
                            height: 100%;
                        }
                    }

                    .textarea-content::placeholder {
                        color: #323232;
                        @include h5-text-style;
                    }
                }

                .submit-container{
                    margin: 16px 0px;
                    width: 100%;

                    @include tablet {
                        width: 200px;
                        margin: 0px 16px;
                    }

                    .button {
                        width: 100%;
                        background: $primary-CTA-color;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        border: none;
                        border-radius: 4px;
                        padding: 15px 5px;
                        cursor: pointer;
                    }

                    .button:hover {
                        background: $CTA-hover-color;
                    }
                }
            }
        }

        .comment-container {
            @include flex-column;
            width: 100%;
            margin: 16px 0px;
        }

        .comment {
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: solid 2px $border-color;
            margin: 16px 0px;

            &__image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
                align-self: flex-start;
            }

            &__text {
                margin-left: 16px;
            }

            &__title {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__name {
                @include h4-text-style;
                margin: 0; // correct for margin-top/bot 
            }

            &__timestamp {
                color: #E1E1E1;
                font-weight: 100;
                margin: 0;  // correct for margin-top/bot 
                margin-left: 16px;
                @include h4-text-style;
            }

            &__paragraph {
                margin: 16px 0px;
                @include h4-text-style;
            }
        }
    }
}
