@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.comment-section {
    width: 100%;
    @include flex-column;

    &__title {
        font-family: $global-font__bold;
        margin: 32px 0px;
        @include h3-text-style;
        
        @include tablet {
            @include tablet-h3-text;
        }

        @include desktop {
            margin-top: 48px;
        }
    }

    &__content {
        width: 100%;

        .form-wrap {
            @include flex-row;
            align-items: center;
            width: 100%;
            border-bottom: solid 2px $border-color;

            .form-image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
                @include tablet {
                    align-self: center;
                }
            }

            .form-container {
                width: 100%;
                margin-left: 16px; 
                font-weight: 100;  
                
                @include desktop {
                    margin-left: 24px;
                }
                
                .add-comment {
                    color: #E1E1E1;
                    @include flex-column;
                    align-items: center;
                    // justify-content: space-around;
                    @include h5-text-style;
                   
                    @include tablet {
                        flex-direction: row;
                        @include tablet-h5-text;
                    }

                    // input.username {
                    //     margin: 4px 0px;
                    //     width: 100%;
                    //     border: 1px solid #E1E1E1;
                    //     border-radius: 5px;
                    //     padding: 5px;
                    // }

                    // #username::placeholder{
                    //     color: $global-color;
                    //     @include h5-text-style;
                    // }
                    
                    .form--input {
                        width: 100%;

                        .label-text {
                            text-transform: uppercase;
                            font-size: 8px;
                            font-weight: 700;
                        }
    
                        .textarea-content {
                            width: 97.5%;
                            height: 50px;
                            padding: 5px;
                            font-family: $global-font;
                            border: 1px solid $primary-CTA-color;
                            border-radius: 5px;
                            
                            @include tablet {
                                height: 100%;
                                margin-bottom: 16px;
                            }
                        }
    
                        .textarea-content::placeholder {
                            color: #323232;
                            @include h5-text-style;
                        }
                    }

                    .submit-container{
                        margin: 16px 0px;
                        width: 100%;

                        @include tablet {
                            width: 200px;
                            margin: 0px 16px;
                        }

                        .button {
                            width: 100%;
                            background: $primary-CTA-color;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            border: none;
                            border-radius: 4px;
                            padding: 15px 5px;
                            cursor: pointer;
                        }

                        .button:hover {
                            background: $CTA-hover-color;
                        }
                    }
                }
            }
        }

        .comment-container {
            @include flex-column;
            width: 100%;
            margin: 16px 0px;
        }

        .comment {
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: solid 2px #E1E1E1;
            margin: 16px 0px;

            &__image {
                height: 48px;
                width: 48px;
                border-radius: 25px;
                align-self: flex-start;
            }

            &__text {
                margin-left: 16px;
            }

            &__title {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__name {
                @include h4-text-style;
                margin: 0; // fix for random margin-top/bot 22px default 
            }

            &__timestamp {
                color: #E1E1E1;
                font-weight: 100;
                margin: 0;  // fix for random margin-top/bot 22px default 
                margin-left: 16px;
                @include h4-text-style;
            }

            &__paragraph {
                margin: 16px 0px;
                @include h4-text-style;
            }
        }
    }
}
