@import '../../partials/colors';
@import '../../partials/fonts';
@import '../../partials/mixins';

.nav-bar {
  @include flex-column;
  background-color: $global-bg-color;
  width: 100%;
  height: 169px;
  top: 0;
  z-index: 1;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
  }

  &__logo {
    width: 100%;
    height: 100%;
    @include flex-center;

    &-image {
      height: 32px;
    }
  }


  
  &__main {
    width: 100%;
    height: 121px;
    @include flex-center;

    @include tablet {
        height: 100%;
    }
  }

  &__list {
    width: 250px;
    list-style-type: none;
    @include flex-column;
    justify-content: space-evenly;
    padding: 0px; //for some reason it defaults with 40px padded left
    margin: 0px;
    
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    &-item {  
        @include flex-center;
        margin: 4px 0px;

        @include tablet {
        justify-content: space-around;
        margin: 0px 12px;
        }
    }

  }

  .login-button__link {
    width: 100%;
  }

  .login-button {
    width: 100%;
    height: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 15px 5px;
    font-size: 13px;
    background-color: $primary-CTA-color;
    background-position: 25% 50%; 
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-color: $CTA-hover-color;
    }

    @include tablet {
        width: 103px;
        background-position: 7.5% 50%; 
    }
  }

  .user-image {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 25px;
    margin: 4px 0 0 16px;
  }
}